body{
    background-color: rgb(255, 255, 255);
}

.form_1{
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20%;
    height:30%;
    padding: 10px;
    border-color: rgba(3, 103, 133, 0.322);
    border-style: groove;
    border-radius: 20px;

}
.top_1{
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:20%;
    height:fit-content;
    padding: 10px;
    border-color: rgba(0, 170, 255, 0.527);
    border-style: double;
    border-radius: 20px;
}
form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(255, 255, 255);
    width: 60%;
    height:fit-content;
    padding: 10px;
    border-color: rgb(0, 255, 234);
    border-style: double;
    border-radius: 20px;
}
.p_top{
    font-size: 18px ;
}
